<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task in Detail</title>
    <link rel="stylesheet" href="/style1.css">
</head>
<body>
    <h2>Here is your task in Detail</h2>
    
    <div class="task">
        <p class="taskid">Task id : <%= task.id %></p>
        <h3 class="Title">Title: <%= task.Title %></h3>
        <h4 class="Description">Description : <%= task.Description %></h4>
        <p class="Status">Status : <%= task.Status %></p>
    </div>
</body>
</html>